.elements__button_active {
    border: 0;
    outline-style: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background-image:  url(../../../../../src/images/heart_black.svg);
}
.elements__button_active:hover {
    opacity: 0.5;
}
