.elements__name-container {
    background-color: white;
    margin-top: 0px;
    padding-left: 21px;
    padding-right: 15px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}